<div class="panel panel-default">
	<div class="panel-heading">
		Create your room!
	</div>
	<div class="panel-body">
		<div class="container">
			<%= form_for @room do |f| %>
				<div class="row">
					<div class="col-md-4 select">
						<div class="form-group">
							<label> Home type</label>
							<%= f.select :home_type, [["Apartment", "Apartment"], ["House", "House"], ["BnB", "BnB"]],
							:id => "home_type", :prompt => "Select", class: "form-control" %>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>