@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

body{
	color: #565a5c;
	background-color: #F8F8F8;
}

.container{
	width: 80%;
}

.avatar-small {
	width: 28px;
}


.avatar-medium {
	width: 48px;
}


.avatar-large {
	width: 68px;
}


.avatar-full {
	width: 100%;
}